{% extends 'MardrazeCoreBundle:Admin:base_admin.html.twig' %}

{% block sonata_page_content %}
    {{ parent() }}
    <div class="page-header">
        <h1>{{ 'Edycja plików konfiguracyjnych'|trans }}</h1>
    </div>
    <form method="post" action="">
        <input type="hidden" name="save[file]" id="save_file" value="{{ save_file }}" />
        <div class="row">
            <div class="col-md-2">
                <div id="tree"></div>
            </div>
            <div class="col-md-10">
                <div>
                    <textarea id="admin_config" class="codemirror" name="save[content]">{{ save_content }}</textarea>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-success" value="{{ 'Zapisz'|trans }}" />
                </div>
            </div>
        </div>
    </form>
    <script src="{{ asset('bundles/mardrazecore/js/lib/jstree/jstree.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            var index = 10;
            var createNode = function(new_node){
                var ref = $('#tree').jstree(true);
                var sel = ref.get_selected();
                if(!sel.length) { return false; }
                sel = sel[0];

                sel = ref.create_node(sel, new_node);
                if(sel) {
                    ref.edit(sel);
                }
            };


            $('#tree').jstree({
                "core" : {
                    "animation" : 0,
                    "check_callback" : true,
                    "themes" : { "stripes" : true },
                    'data' : {
                        'url' : function (node) {
                            return '?get_data=1';
                        },
                        'data' : function (node) {
                            return { 'id' : node.id };
                        }
                    }
                },
                "plugins" : [
                    "contextmenu", "dnd", "search",
                    "state", "types", "wholerow"
                ]
            })
            .on('select_node.jstree', function(event, selected){
                if(selected.node.text.lastIndexOf('.') == -1){
                    $.get('?get_data=1&dir='+selected.node.text, function(res){
                        for(var i=0; i<res.length; i++){
                            var newNode = res[i];
                            newNode.id = index++;
                            createNode(newNode);
                        }
                    });
                }else{
                    $.get('?get_content='+selected.node.text, function(content){
                        window.editor.setValue(content);
                        var str = selected.node.text;
                        var dot = str.lastIndexOf('.')+1;
                        var length = str.length;
                        str = str.substr(dot, length-dot);
                        if(str == 'yml'){
                            str = 'yaml';
                        }
                        if(str == 'twig'){
                            str = 'xml';
                        }
                        window.editor.setOption('mode', str);
                        $('#save_file').val(selected.node.text);
                    });
                }
            })
            ;
        });
    </script>
{% endblock %}