{% extends 'MardrazeCoreBundle:Admin:base_admin.html.twig' %}

{% block sonata_page_content %}
    {{ parent() }}
    <div class="page-header">
        <h1>{{ 'Panel tłumaczeń'|trans }}</h1>
    </div>
    <form method="post" action="">
        <div class="form-inline pull-right">
            <div class="checkbox">
                <label id="show_hidden_label">
                    <input type="checkbox" name="show_hidden" {% if app.request.get('show_hidden') %}checked="checked"{% endif %}/> {{ 'Pokazuj ukryte'|trans }}
                </label>
                <script>
                    $(document).ready(function(){
                        $('#show_hidden_label').click(function(){
                            if($('#show_hidden_label input').is(':checked')){
                                $('.trans-hidden').removeClass('hide');
                            }else{
                                $('.trans-hidden').addClass('hide');
                            }
                        });
                    });
                </script>
            </div>
        </div>
        <table class="table">
            <tr>
                <th style="width: 50px">{{ 'Klucz'|trans }}</th>
                <td>
                    <select name="locale_primary" onchange="$(this).closest('form').submit();">
                        {% for locale in locales %}
                            <option {% if locale_primary == locale %}selected="selected"{% endif %}
                                    value="{{ locale }}">{{ ('Język ' ~ locale) |trans }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="locale_secondary" onchange="$(this).closest('form').submit();">
                        {% for locale in locales %}
                            <option {% if locale_secondary == locale %}selected="selected"{% endif %}
                                    value="{{ locale }}">{{ ('Język ' ~ locale) |trans }}</option>
                        {% endfor %}
                    </select>

                </td>
                <th class="text-center" style="width: 30px">{{ 'Link'|trans }}</th>
                <th class="text-center" style="width: 30px">
                    Ukryj
                </th>
            </tr>
            {% for trans in list %}
                <tr {% if trans.hidden %} class="trans-hidden{% if app.request.get('show_hidden') == false %} hide{% endif %}"{% endif %}>
                    <td title="{{ trans.domain }}">{{ trans.k }}</td>
                    <td>
                        <input class="form-control" name="trans[{{ trans.primary_id }}]" value="{{ trans.primary }}"/>
                    </td>
                    <td>
                        <input class="form-control"
                               name="trans[{{ trans.secondary_id|default('secondary_' ~ trans.primary_id) }}]"
                               value="{{ trans.secondary }}"/>
                    </td>
                    <td class="text-center"><a target="_blank" class="btn btn-default" href="{{ trans.path }}">Link</a></td>
                    <td class="text-center">
                        <div style="margin-top: 6px;">
                            <input type="checkbox" name="trans_hidden[]" {% if trans.hidden %}checked="checked"{% endif %} value="{{ trans.primary_id }}"/>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!-- /.row -->
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="{{ 'Zapisz'|trans }}"/>
        </div>
    </form>
{% endblock %}