{{ form_start(form, {attr:{'class' : 'contact-form', 'role': 'form' } }) }}
    <div class="form-group alerts hide">
        <div class="alerts">
            <div class="alert alert-success alert-dismissible hide" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ 'Email sent'|trans }}
            </div>
            <div class="alert alert-danger alert-dismissible hide" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ 'Error, please contact with administration'|trans }}
            </div>
        </div>
    </div>
    <div class="control-group form-group">
        <div class="controls">
            <label>Full Name:</label>
            <input type="text" name="data[name]"  class="form-control required"/>
            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group form-group">
        <div class="controls">
            <label>Phone Number:</label>
            <input type="text" name="data[phone]"  class="form-control required">
        </div>
    </div>
    <div class="control-group form-group">
        <div class="controls">
            <label>Email Address:</label>
            <input type="email" name="data[email]"  class="form-control required">
        </div>
    </div>
    <div class="control-group form-group">
        <div class="controls">
            <label>Message:</label>
            <textarea rows="10" cols="100" class="form-control required" name="data[message]"  maxlength="999" style="resize:none"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
    <img class="ajax-loader hide" src="{{ asset('bundles/mardrazecore/img/ajax-loader.gif') }}"/>

{{ form_end(form) }}