{{ form_start(form, {attr:{'class' : 'form-horizontal validate contact-form', 'role': 'form' } }) }}
{% set id = uniqid() %}
    <div class="form-group alerts hide">
        <div class="col-sm-10 col-sm-offset-2 alerts">
            <div class="alert alert-success alert-dismissible hide" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ 'Email sent'|trans }}
            </div>
            <div class="alert alert-danger alert-dismissible hide" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ 'Error, please contact with administration'|trans }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="{{ id }}_data_name" class="col-sm-2 control-label">{{ 'Name'|trans }}</label>
        <div class="col-sm-10">
            <input class="form-control required" id="{{ id }}_data_name" required="required" name="data[name]" placeholder="{{ 'First & Last Name'|trans }}" />
        </div>
    </div>
    <div class="form-group">
        <label for="{{ id }}_email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input class="form-control required" type="email" id="{{ id }}_email" name="data[email]" required="required" placeholder="{{ 'example@domain.com'|trans }}" />
        </div>
    </div>
    <div class="form-group">
        <label for="{{ id }}_message" class="col-sm-2 control-label">{{ 'Message'|trans }}</label>
        <div class="col-sm-10">
            <textarea rows="4" class="form-control required" id="{{ id }}_message" name="data[message]" required="required"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="{{ id }}_submit" name="submit" type="submit" value="{{ 'Send'|trans }}" class="btn btn-primary"/>
            <img class="ajax-loader hide" src="{{ asset('bundles/mardrazecore/img/ajax-loader.gif') }}"/>
        </div>
    </div>

{{ form_end(form) }}