{% block subject %}
    Nowy komentarz pod wpisem "{{ comment.blog.title }}"
{% endblock %}

{% block message_html %}

<html>
    <head></head>
    <body>
    {% set button_style = 'display: inline-block;background: #0088e4;color: #fff;font-size: 17px;padding: 10px 20px;text-decoration: none;border-radius: 3px;' %}
    <h1>Witaj,</h1>
    <p>
        {{ comment.author }} napisał nowy komentarz pod wpisem "<i>{{ comment.blog.title }}</i>"
    </p>
    <p>
        Treść komentarza: "{{ comment.body }}"
    </p>
    <p>
        <a style="{{ button_style }}" href="{{ url('mardraze_iwybory_wpis', {id : comment.blog.id }) }}">Przejdź do wpisu</a>
    </p>
    <small>
        <p>Nie chcesz otrzymywać takich powiadomień?</p>
        <p>
            <a href="{{ url('mardraze_iwybory_notification_cancel', {id : notification.id, hash : notification.hash}) }}">Wyłącz to powiadomienie</a>
        </p>
        <p>
            <a href="{{ url('mardraze_iwybory_notification_cancel_all', {id : notification.id, hash : notification.hash } ) }}">Wyłącz wszystkie powiadomienia z serwisu i-wybory.pl</a>
        </p>
    </small>


    </body>
</html>
{% endblock %}

{% block message_text %}
{% endblock %}
